:root {
  /* Base sizes */
  --step-4: clamp(2.875rem, 1.0833rem + 8.9583vw, 8.25rem);
  --step-3: clamp(1.75rem, 0.9583rem + 3.9583vw, 4.125rem);
  --step-2: clamp(1.25rem, 1.1667rem + 0.4167vw, 1.5rem);
  --step-1: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
  --step-0: clamp(0.875rem, 0.8333rem + 0.2083vw, 1rem); 
}

.ff-lora {
  font-family: 'Lora', serif;
}

.ff-inter {
  font-family: 'Inter', sans-serif;
}

.fs-2 {
  font-size: var(--step-2);
}

.fs-1 {
  font-size: var(--step-1);
}

.fs-0 {
  font-size: var(--step-0);
}

.bold {
  font-weight: bold;
}

h6,h5,h4,h3,h2,h1,p {
    margin: 0;
    padding: 0;
}

h1 {
  font-size: var(--step-4);
  font-family: 'Lora', serif;
}

h2 {
  font-size: var(--step-4);
  font-family: 'Lora', serif;
}

h3 {
  font-size: var(--step-3);
  font-family: 'Lora', serif;
}

h4 {
  font-size: var(--step-2);
}

p {
  font-size: var(--step-2);
}

a {
  font-size: var(--step-2);
}

p.small {
  font-size: var(--step-1);
}