*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
}

:root {
    --color-black: #000000;
    --color-dark: #040F0F;
    --color-darker: #090B0B;
    --color-accent: #2BA84A;
    --color-light: #ECEBF3;
}

.bg-darkest {
    background-color: var(--color-black);
    color: var(--color-light);
}

.bg-darker {
    background-color: var(--color-darker);
    color: var(--color-light);
}

.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.bg-light {
    background-color: var(--color-light);
    color: var(--color-dark);
}

img {
    max-width: 100%;
    border-radius: .5rem;
}

figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ------------- HEADER ---------------- */

header {
    background-color: var(--color-dark);
}

header nav.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header .nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100lvh;
    width: 100%;
    z-index: 10;
    left: 0;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
}

header .nav.show {
    transform: translateX(0);
}

header .nav .navlinks {
    padding-top: 2rem;
    flex-direction: column;
    align-items: end;
    padding-right: 2rem;
    gap: 1rem;
}

header .nav .navbuttons {
    flex-direction: column;
    gap: 1.5rem;
    align-items: end;
    padding-right: 2rem;
    padding-top: 2rem;
}

header .logo {
    max-width: 140px;
}

header .menu {
    cursor: pointer;
}

@media (min-width: 65rem) {
    header .logo {
        max-width: 300px;
    }

    header .nav {
        position: static;
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: space-between;
        transform: translateX(0);
        flex-direction: row;
        height: min-content;

    }

    header .nav .navlinks {
        padding-top: 0;
        align-items: center;
        flex-direction: row;
    }

    header .nav .navbuttons {
        padding-top: 0;
        align-items: center;
        flex-direction: row;
    }

    header .menu {
        display: none;
    }
}

/* ------------- /HEADER ---------------- */

/* ------------- CONTACT ---------------- */

#contact .grid {
    gap: 2rem;
}

#contact .grid .left,
#contact .grid .right {
    grid-column: span 6;
    gap: 1rem;
}

@media (min-width: 65rem) {
    #contact .grid .right {
        grid-column: span 5;
        justify-self: end;
    }
}

/* ------------- /CONTACT ---------------- */


.whatsapp-button {
    position: fixed;
    bottom: 50%;
    right: 4rem;
    max-width: 80px;
    background-color: #dbdbdb;
    padding: 1rem;
    border-radius: 100%;
    display: none;
}

@media (min-width: 65rem) {
    .whatsapp-button {
        display: block;
    }
}